<!DOCTYPE html>
<html lang="ja">
<head>
    
    {% block head %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=BIZ+UDPGothic&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{url_for('static',filename='css/reset.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
        {% endblock head %}
        
</head>
<body>
    <div class="wrapper">
        <div id="header">
            <ul id="nav">
                <li><a class="nav-links" href="{{url_for('todo_app.home')}}">ホーム</a></li>
                {% if current_user.is_authenticated %}
                <li><a class="nav-links" aria-current="page" href="{{ url_for('todo_app.logout') }}">ログアウト</a></li>
                {% else %}
                <!-- <li><a class="nav-links" href="{{ url_for('todo_app.login') }}">ログイン</a></li>
                <li><a class="nav-links" href="{{ url_for('todo_app.register') }}">登録</a></li> -->
                {% endif %}
                <li><a class="nav-links" href="{{ url_for('todo_app.user') }}">ユーザー画面</a></li>
            </ul>
        </div>
        {% block content %}
        {% endblock content %}
    </div>
    </body>
</html>