{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block title %}タスク入力画面{% endblock %}


{% block content %}
<main>
    <form method="POST">
        <div>
            <input type="text" placeholder="タスクのタイトル" name="title">
        </div>
        <div>
            <textarea name="detail" placeholder="タスクの詳細" rows="5"></textarea>
        </div>
        <div>
            <label for="due">終了予定日</label>
            <input type="date" name="end_time" required>
        </div>
        <div>
            <button type="submit">作成</button>
            <button><a href="/user" role="button">戻る</a></button>
        </div>
    </form>
</main>
{% endblock content %}
    