{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block title %}タスク詳細画面{% endblock %}

{% block content %}
<main>
    <div>
        <h2>
            {{ task.title }}
        </h2>
        <p>
            {{ task.detail }}
        </p>
        <div>
            <p>
                期限：{{ task.end_time.date() }}
            </p>
            {% if task.end_time.date() < today %}
            <button>
                期限切れです！
            </button>
            {% endif %}
        </div>
        <div>
            <button>
                <a href="/user">戻る</a>
            </button>
        </div>
    </div>
</main>
{% endblock content %}