{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block title %}ユーザー情報登録画面{% endblock %}

{% block content %}
<main>
    <h2>登録して下さい</h2>
    <form method="post">
        <input type="text" placeholder="Name" name="name">
        <input type="text" placeholder="Email" name="email">
        <input type="password" placeholder="Password" name="password1">
        <input type="password" placeholder="Password Confirmation" name="password2">
        <div>
            <button>登録</button>
        </div>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class="flashes">
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
    </form>
</main>
{% endblock content %}
