{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block title %}タスク更新画面{% endblock %}

{% block content %}
<main>
    {% if task.end_time.date() < today %}
        <div class="">
            期限切れです！
        </div>
    {% endif %}
    <form action="/update/{{ task.id }}" method="POST">
        <div class="input-container">
            <label for="title">タイトル</label>
            <input type="text" name="title" aria-describedby="title-help" value={{ task.title }}>
        </div>
        <div class="input-container">
            <label for="detail">詳細</label>
            <!-- <input type="text" name="detail" value={{ task.detail }}> -->
            <textarea name="detail" id="" rows="5">{{ task.detail }}</textarea>
        </div>
        <div class="input-container">
            <label for="due">日付</label>
            <input type="date" name="end_time" value={{ task.end_time.date() }} required>
        </div>
        <div class="button-container">
            <button type="submit" class="green-button">更新</button>
            <button class="outline-button"><a href="/user" role="button">戻る</a></button>
        </div>
    </form>
</main>
{% endblock content %}
