{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block title %}タスク一覧画面{% endblock %}

{% block content %}
<main>
    <div class="container">
        <div class="task-add-button-container">
            <button class="blue-button task-add-button">
                <a class="" href="/create_task" role="button">新規作成</a>
            </button>
        </div>
        <div class="tasks-wrapper">
            {% for task in tasks %}
            <div class="task-container">
                <div class="task-detail">
                    <h2 class="task-title">{{ task.title }}</h2>
                    <p>期限：{{ task.end_time.date() }}</p>
                    {% if task.end_time.date() < today %}
                    <button class="orange-button expired-button">
                        期限切れです！
                    </button>
                    {% endif %}
                    
                </div>
                <div class="task-edit-buttons-container">
                    <button class="gray-button"><a href="/detail/{{ task.id }}" role="button">詳細</a></button>
                    <button class="green-button"><a href="/update/{{ task.id }}" role="button">編集</a></button>
                    <button class="red-button"><a href="/delete/{{ task.id }}" role="button">完了</a></button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}