{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block title %}ログイン完了画面{% endblock %}

{% block content %}
<p>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-7">
            <h1 class="text-success">ログイン完了しました</h1>
        </div>
        <div class="col-sm-4"></div>
    </div>
</p>
{% endblock content %}

{% block scripts %}
    <script>
        setTimeout(function(){
            window.location.href = '/user';
          }, 5*100);
    </script>
{% endblock scripts%}