:root {
    --white:#e9eff6;
    --black:#162d34;
    --gray:#d1d5db;
    --blue:#67c4e1;
    --green:#3bba00;
    --red:#FF0000;
    --dark_gray:#9B9B9B;
    --light_gray:#dfe3ea;
    --orange:#ff7a00;
}